//primary,secondary,secondary,tertiary,quaternary,header_background,header_primary,highlight,danger,success,love

// TO-DO
// Tilføj hover-tekst til de to ting
//
$avatar-size: 25px;
$infoCircle-size: 25px;
noBorder{
  border:none!important;
}

// STYLING TO THE MAIN SITE - SHOULD BE REMOVED IN THE FUTURE
// aside.sidebar .sidebar-container{
//   background:$primary-low;
// }

.layouts-discordinfo{
  background:$secondary;
  border: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
}

// STYLING TO OTHER WIDGETS - SHOULD BE MOVED TO STYLE/PLUGIN
.sidebar-content a.widget-link.list-title{
  color:dark-light-choose(scale-color($primary, $lightness: 50%), scale-color($secondary, $lightness: 50%))!important;
  font-weight: normal;
  font-size: 1em;
  text-decoration: none!important;
}

.sidebar-content a.widget-link.topic-link{
  color:$primary!important;
}

// Style for plugin
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.layouts-discordinfo{
  @include border-radius(4px);

  #discordinfo-linkbutton{
    display: block;
    @include border-radius(0px 0px 4px 4px)
  }

  #discordinfo{
    width:100%;
    text-align:center;
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;

    #_show_discordPrimaryStyle{
      width: calc( 50% - 10px);
      padding:5px;

      span.wrapper{
        display:block;
        width:$infoCircle-size*3;
        height:25px;
        cursor: pointer;
        color:$primary;
        margin: 0 auto;

        svg.fa{
          display: block;
          font-size:1.0em;
          display: inline-block;
          width:$infoCircle-size;
          height:$infoCircle-size;
          padding:0px 4px;
        }
        
        span{
          font-size:1.4em;
          vertical-align: text-bottom;
          padding:0px 4px;
        }
      }

      span.wrapper:hover{
        transition: color 0.5s ease;
        color: $tertiary;
      }
    }

    #_show_discordChannels{
      @extend #_show_discordPrimaryStyle;
    }

    #_show_discordMembers{
      @extend #_show_discordPrimaryStyle;
    }
  }

  #discordChannels, #discordMembers{
    /*background:$header_background;*/
    margin:10px;
    text-align:left;

    span{
      padding: 5px;
    }
  }
  
  #discordMembers, #discordChannels{
    img{
    width:$avatar-size;
    height:$avatar-size;
    @include border-radius(50%);

    }

    div{
      padding:2px 4px;
    }
  }
}