//primary,secondary,secondary,tertiary,quaternary,header_background,header_primary,highlight,danger,success,love
.widget-container{
  background:$secondary;

  #discordInfo{width:100%;
    #_show_discordChannels, #_show_discordMembers{
      background: $secondary;
      padding: 10px 7px;
    }
  }
  
  #discordChannels, #discordMembers{
    background:$header_background
  }
  
  #discordMembers img{
    width:24px;
    height:24px;
  }
}

.user-profile {
    
      .avatar {
        float: left;
      }
    
      .profile-top {
        overflow: hidden;
        padding: 5px 5px 5px 15px;
      }
    
      .menu-links-header {
        width: initial;
        display: block;
        border-spacing: 0;
    
        a {
          display: inline-block;
        }
    
        .menu-links-row {
          width: 100%;
          display: flex;
          margin: 0;
        }
    
        li:not(.glyphs) {
          display: initial;
        }
    
        a.user-activity-link {
          margin: initial;
        }
    
        .glyphs {
          display: initial;
          flex: 1;
        }
      }
    
      .profile-actions {
        padding-top: 4px;
        width: 100%;
    
        button, .widget-component-connector {
          display: inline-block;
          vertical-align: top;
          margin-right: 7px;
          margin-top: 7px;
        }
    
        .widget-component-connector .dropdown-select-box.dropdown-select-box {
          height: initial;
    
          .dropdown-header .btn {
            padding: 3px 6px;
            font-size: 0.857em;
            line-height: 16px;
          }
        }
      }
    }