//primary,secondary,secondary,tertiary,quaternary,header_background,header_primary,highlight,danger,success,love

// TO-DO
//
// - Smid hover på de to knapper (så baggrunden ændre sig lidt), og også en tekst hvad de to forskellige ting tæller
//
//
$avatar-size: 25px;
$infoCircle-size: 35px;
noBorder{
  border:none!important;
}

// STYLING TO THE MAIN SITE - SHOULD BE REMOVED IN THE FUTURE
// aside.sidebar .sidebar-container{
//   background:$primary-low;
// }

.widget-container{
  @extend noBorder;
  background:$primary-low;
}



@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.borderDiv{
  border-bottom:1px solid dark-light-diff($primary, $secondary, 90%, -65%);
}


.widget-container{
  /*background:$secondary;*/

  #chat-linkbutton{
    display: block;
  }

  #discordInfo{
    width:100%;
    padding-top:36px;

    #_show_discordPrimaryStyle{
      /*background: $secondary;*/
      padding: 7px 7px;
      position:absolute;    
      top:5px;  
      width: calc( 50% - 20px);
      margin:4px;

      span.wrapper{
        text-align: center;
        margin: 0 auto;
        display:block;
        width:$infoCircle-size*2;
        height:25px;
        cursor: pointer;
        color:$header_background;
        
        span{
          font-size:2em;
          display: inline;
        }

        i{
          font-size: 1.50em;
          display: block;
          font-size:1.5em;
          display: inline-block;
          width:$infoCircle-size;
          height:$infoCircle-size;
        }
      }

      span.wrapper:hover{
        transition: color 0.5s ease;
        color: $tertiary;
      }
    }

    #_show_discordChannels{
      @extend #_show_discordPrimaryStyle;
      right:0;
    }

    #_show_discordMembers{
      @extend #_show_discordPrimaryStyle;
      left:0;
    }
  }

  #discordChannels, #discordMembers{
    /*background:$header_background;*/
    margin-bottom:5px;

    span{
      padding: 5px;
    }
  }
  
  #discordMembers, #discordChannels{
    img{
    width:$avatar-size;
    height:$avatar-size;
    @include border-radius(50%);

    }

    div{
      padding:2px 4px;
    }
  }
}